
#dul-hours-table-page #hoursTable .dukeusers {
	font-weight: 1.0em;
	color: #111;
}
#dul-hours-table-page #hoursTable div.hours {
	float: right;
	text-align: right;
}
#dul-hours-table-page div.dukeusers span.title {
	color: #111;
}
#dul-hours-table-page #hoursTable div.genpublic {
	text-align: right;
	color: #555;
}
#dul-hours-table-page #hoursTable div.today {
	background-color: #F3F3F3;
}

#dul-hours-table-page .table thead th,
#dul-hours-table-page .table tr td,
.sticky-header th {
  text-align: center;
  vertical-align: middle;
  min-width: 120px;
}

#dul-hours-table-page .table tbody tr th {
  text-align: left;
  line-height: 1.3;
  min-width: 190px;
  height: 60px;
  vertical-align: middle;
}

#dul-hours-table-page .table tbody tr th a {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* #dul-hours-table-page .table tbody tr th div a {
  font-weight: normal;
  font-size: 90%;
} */

/* Calendar Styles */

.s-lc-mhw-tb { width: 100%; border: 1px solid #ddd; border-collapse: collapse; border-spacing: 0; } 
.s-lc-mhw-tb th, .s-lc-mhw-tb td { border: 1px solid #ddd; vertical-align: top; } 
.s-lc-mhw-tb thead { background-color: #F5F5F5; } 
.s-lc-mhw-header { text-align: center; } 
.s-lc-mhw-header-date { text-align: center; display: inline-block; margin-top: 5px; font-size: 130%; } 
.s-lc-mhw-days th { text-align: center; font-weight: bold; min-width: 14.286%; max-width: 14.286%; width: 14.286%;} 
.s-lc-mhw-days td { } 
.s-lc-mhw-day-l { color: #555; text-align: right; padding: 2px; font-size: 15px; } 
.s-lc-mhw-cells { height: 100px; } 
.s-lc-mhw-fnc { color: #555; } 
.s-lc-mhw-loc { font-size: 15px; padding: 2px; border-radius: 4px; margin-bottom: 1px; color: #333; margin-top: .5rem; text-align: center;} 
.s-lc-mhw-subloc { margin-left: 5px;} 
.s-lc-mhw-footnote-cal { font-size: 86%;}
.s-lc-mhw-noday { background: rgba(3,32,81,.035);}

.s-lc-time,
.s-lc-closed {
  font-size: 20px;
}

#dul-hours-table-page tr.odd td.today {
  background-color: rgba(3,32,81,.7);
  color: #fff;
  border: 1px solid rgba(3,32,81,1);
}

#dul-hours-table-page tr.even td.today {
  background-color: rgba(3,32,81,.9);
  color: #fff;
  border: 1px solid rgba(3,32,81,1);
}

.s-lc-mhw-day.lc_today {
  background-color: rgba(3,32,81,.9);
  border: 1px solid rgba(3,32,81,1);
}

.s-lc-mhw-day.lc_today .s-lc-mhw-day-l,
.s-lc-mhw-day.lc_today .s-lc-mhw-loc {
  color: #fff;
}

.s-lc-mhw-sub-loc {
  border-top: 1px solid #eee;
  margin-top: 1rem;
  padding-top: 1rem;
  font-style: italic;
}

.s-lc-mhw-sub-loc .s-lc-time,
.s-lc-mhw-sub-loc .s-lc-closed {
  font-size: 15px;
}

.s-lc-mhw-loc .s-lc-mhw-loc-name {
  display: none;
}

.s-lc-mhw-loc.s-lc-mhw-sub-loc .s-lc-time::before,
.s-lc-mhw-loc.s-lc-mhw-sub-loc .s-lc-closed::before  {
   content: 'public: '
 }
 
/* hide main content for gen public */

.public-month .s-lc-time,
.public-month .s-lc-closed {
  display: none;
}

.public-month .s-lc-mhw-sub-loc {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
  font-style: normal;
}

.public-month .s-lc-mhw-loc.s-lc-mhw-sub-loc .s-lc-time,
.public-month .s-lc-mhw-loc.s-lc-mhw-sub-loc .s-lc-closed  {
   font-size: 20px;
   display: block;
 }

.public-month .s-lc-mhw-loc.s-lc-mhw-sub-loc .s-lc-time::before,
.public-month .s-lc-mhw-loc.s-lc-mhw-sub-loc .s-lc-closed::before  {
   content: ''
 }

